.empty-state-container {
  text-align: center;
  padding: var(--pf-v6-global--spacer--lg);
}

.empty-state-icon {
  font-size: 3rem;
  margin-bottom: var(--pf-v6-global--spacer--md);
}

.empty-state-icon svg {
  width: 1em;
  height: 1em;
}

.empty-state-info .empty-state-icon {
  color: var(--pf-t--global--color--status--info--default);
}

.empty-state-success .empty-state-icon {
  color: var(--pf-t--global--color--status--success--default);
}

.empty-state-warning .empty-state-icon {
  color: var(--pf-t--global--color--status--warning--default);
}

.empty-state-error .empty-state-icon {
  color: var(--pf-t--global--color--status--danger--default);
}

.empty-state-title {
  margin-bottom: var(--pf-v6-global--spacer--sm);
  font-size: var(--pf-v6-global--FontSize--lg);
}

.empty-state-content {
  color: var(--pf-v6-global--Color--200);
}

.empty-state-content p {
  margin: 0;
}
